.acerca {
    .btn-1 {
        padding-left: 25px;

        .c-fa {
            animation: c_keyframe_2 2s;
            -webkit-animation: c_keyframe_2 2s;
            -moz-animation: c_keyframe_2 2s;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
        }
    }

    .txt {



        h3,
        h2 {
            color: $COLOR_1;
            font-family: 'IBMPlexSans-Medium';
            font-size: 1.4rem;

            span {
                font-family: 'IBMPlexSans-SemiBoldItalic';
            }
        }

        h3 {
            font-family: 'IBMPlexSans-Light';
        }


        h2 {
            margin-top: 30px;
            font-size: 1.9rem;

            span {
                background-color: $COLOR_1;
                color: #FFF;
                padding: 5px;
                display: table;
            }

            font {
                border: 1px solid $COLOR_2;
                margin-top: 5px;
                display: inline-block;
                padding: 1px 7px;
                border-radius: 7px;
            }
        }

        h4 {
            color: #000;
            font-family: 'IBMPlexSans-Regular';
            font-size: 1.1rem;

            &.txt-beneficios {
                font-size: 1.4rem;
                font-family: 'IBMPlexSans-SemiBoldItalic'; 
                font{
                    color: $COLOR_1;
                }
            }
            font{
                font-family: 'IBMPlexSans-SemiBoldItalic'; 
                color: $COLOR_1;
                &.negro{
                    color: #000;
                    font-family: 'OpenSans-Semibold';
                }
            }
        }


        .i-beneficios {
            list-style: none;

            h5 {
                color: #778299;
                font-family: 'IBMPlexSans-Regular';
                font-size: 1rem;
                display: flex;
                margin-bottom: 7px;
                margin-top: 7px;
                padding: 7px;
                border-radius: 7px;
                transition: 0.5s;
                min-height: 44px;
                padding-right: 20px;

                .boulet {
                    position: absolute;
                    border: 1px solid #ADB4C2;
                    display: inline-flex;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    float: left;
                    margin-right: 7px;
                    margin-bottom: 7px;
                    padding: 5px;

                    .c-fa {
                        color: #3CDF86;

                    }

                    // img{
                    //     max-width: px;
                    // }
                }

                .i-txt {
                    padding-top: 5px;
                    padding-left: 40px;

                    span {
                        color: $COLOR_1;
                        font-family: 'IBMPlexSans-SemiBoldItalic';
                    }
                }

                &:hover {
                    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.23);
                    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.23);
                    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.23);
                    padding-left: 20px;
                    padding-right: 7px;
                }
            }
        }
    }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .acerca {
        .txt {
            .i-beneficios {
                h5 {
                    .boulet {
                        position: absolute;
                    }

                    .i-txt {
                        padding-left: 40px;
                    }
                }
            }
            h2{
                font-size: 1.5rem;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}