.contador {
    background: rgb(255,73,92);
background: linear-gradient(53deg, rgba(255,73,92,1) 0%, rgba(255,138,0,1) 100%);

// background: rgb(0,79,239);
// background: linear-gradient(62deg, rgba(0,79,239,1) 0%, rgba(23,140,242,1) 100%);

    padding: 15px 0px 10px 0px;

    p {
        margin: 0px;
        padding: 0px;
    }

    h2 {
        color: #FFF;
        font-family: 'OpenSans-Semibold';
        font-size: 1rem;
        margin-top: 15px;
    }

    .cta {
        text-align: center;
        padding-top: 15px;

        a {
            text-decoration: none;
            // background-color: #004FEF;
            color: #FFF;
            font-family: 'OpenSans-Semibold';
            padding: 7px 30px;
            border-radius: 35px;
            margin-left: auto;
            margin-right: auto;
            img{
                max-height: 45px;
            }
        }
    }

    .cronometro {
        .nros {
            .nro {
                .c-block {
                    // background-color: #FFF;
                    text-align: center;
                    font-family: 'OpenSans-Semibold';
                    font-size: 2rem;
                    border-radius: 12px;
                    color: #fff;
                }
            }
        }

        .det {
            p {
                color: #FFF;
                text-align: center;
                font-family: 'OpenSans-Semibold';
                font-size: .9rem;
                margin-top: 1px;
                text-transform: uppercase;
            }
        }
    }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contador {
        padding-bottom: 20px;

        .img-48{
            max-height: 50px;
            margin-bottom: 7px;
        }

        .cronometro {
            .det {
                p {
                    font-size: .7rem;
                }
            }
        }
        
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .contador {
        h2{
            font-size: .75rem;
            margin-top: 10px;
        }
        .img-48{
            max-height: 55px;
            margin-top: 13px;
        }
        .cronometro {
            .det {
                p {
                    font-size: .7rem;
                }
            }
        }
        .cta{
            a{
                font-size: .7rem;
                padding: 7px 10px;
            }
        }
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}