/*requeridas*/
@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/fontawesome-webfont.woff2);
    font-display: swap;
}

/*Adicionales*/
@font-face {
    font-family: 'LATO-REGULAR';  
    src: url(../fonts/LATO-REGULAR.TTF);
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans-Regular';  
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans-Semibold';  
    src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: 'OpenSans-Light';  
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'OpenSans-Bold';  
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'IBMPlexSans-Medium';  
    src: url(../fonts/IBMPlexSans-Medium.ttf);
}

@font-face {
    font-family: 'IBMPlexSans-BoldItalic';  
    src: url(../fonts/IBMPlexSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'IBMPlexSans-Regular';  
    src: url(../fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: 'IBMPlexSans-Bold';  
    src: url(../fonts/IBMPlexSans-Bold.ttf);
}

@font-face {
    font-family: 'IBMPlexSans-MediumItalic';  
    src: url(../fonts/IBMPlexSans-MediumItalic.ttf);
}

@font-face {
    font-family: 'IBMPlexSans-SemiBold';  
    src: url(../fonts/IBMPlexSans-SemiBold.ttf);
}

@font-face {
    font-family: 'IBMPlexSans-SemiBoldItalic';  
    src: url(../fonts/IBMPlexSans-SemiBoldItalic.ttf);
}


@font-face {
    font-family: 'IBMPlexSans-Light';  
    src: url(../fonts/IBMPlexSans-Light.ttf);
}

// @font-face {
//     font-family: 'Poppins-Black';  
//     src: url(../fonts/Poppins-Black.ttf);
//     font-display: swap;
// }