.header {
    // background-color: red;
    position: absolute;
    z-index: 9999;
    top: 0;
    transition: 0.4s;

    .logo {
        img {
            transition: 0.3s;
        }
    }

    .call {
        text-align: right;

        .btn {
            font-family: 'LATO-REGULAR';
            background-color: $COLOR_1;
            color: #FFF;
            border-radius: 0px;
            display: inline-block;
            padding-left: 35px;
            padding-right: 35px;

            &.btn2 {
                background-color: #00D900;
            }
        }


        .btn-menu {
            font-size: 1.3rem;
            display: none;
            position: absolute;
            right: 20px;
            top: 20px;
            width: 30px;
            height: 30px;
            text-decoration: none;
            color: #FFF;
            border-radius: 50%;
            background-color: $COLOR_1;

            justify-content: center;
            align-items: center;
            z-index: 9999999;
            display: block;
            text-align: center;
            span{
                font-size: .7rem;
                display: grid;
                margin-top: -5px;
            }
        }
    }

    .c-container {
        padding-top: 15px;
        padding-bottom: 15px;


    }

    &.c-fixed {
        // background-color: #000;
        // position: fixed;

        // .logo {
        //     img {
        //         max-width: 150px;
        //     }
        // }
    }
}

.menu-xs {
    background-color: #fff;
    border-top-left-radius: 14px;
    width: 100%;
    max-width: 345px;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    transition: .3s;
    overflow-y: auto;
    z-index: 9999;
    padding: 30px;

    &.active {
        right: 0;
        -webkit-box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
        -moz-box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
        box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
    }

    .cerrar {
        text-align: right;

        .fa-cmln {
            font-size: 1.5rem;
        }
    }

    .item {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: solid 2px #eaebf4;

        a {
            margin: 0px;
            text-decoration: none;
            color: $COLOR_1;
            text-transform: uppercase;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header {
        position: fixed;
        background-color: $COLOR_1;
        padding-bottom: 15px;
        .c-container {
            .logo {
                text-align: center;

                img {
                    max-width: 190px;
                }
            }

            .call {
                .btn {
                    display: none;
                }

                .btn-menu {
                    display: flex !important;
                    color: #000;
                }
            }
        }

        &.c-fixed {
            .c-container {
                .logo {
                    img {
                        max-width: 130px;
                    }
                }
            }
        }
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        .c-container {
            .call {
                .btn {
                    &::before {
                        content: url('../img/logo-sap.png');
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        margin-left: -110px;
                        margin-top: -8px;
                    }
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}