.metodo{
    .txt{
        h2{
            font-family: 'IBMPlexSans-SemiBold';
            color: $COLOR_1;
            span{
                font-family: 'IBMPlexSans-SemiBoldItalic'; 
            }
        }
        h3{
            font-family: 'IBMPlexSans-Regular'; 
            color: #778299;
            font-size: 1.1rem;
            span{
                font-family: 'IBMPlexSans-Bold'; 
            }
        }
        
    }
    p{
        &.sup{
            color: #000;
            font-size: 1.2rem;
            font {
                font-family: 'IBMPlexSans-Bold';  
                &.azul{
                    color: $COLOR_1;
                }
            }
        }
        &.mt-4{
            font-size: .95rem;
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}