.cmln-slider {

    .tp-caption {
        white-space: inherit !important;

        /*Obligar a respetar el ancho*/
        &.caption-1 {

            // text-align: right !important;
            h3 {
                color: #FFF;
                font-family: 'OpenSans-Regular';
                font-size: 2.2rem !important;
                display: inline-block;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 7px 25px;


                &::after {
                    // content: '';
                    // position: absolute;
                    // height: 10px;
                    // width: 10px;
                    // background: $COLOR_1;
                }
            }

            h1 {
                font-family: 'IBMPlexSans-Bold';
                color: #FFF;

                span {
                    background-color: #FFF;
                    padding: 4px 15px !important;
                    border-radius: 10px;
                    color: $COLOR_1;
                    font-family: 'IBMPlexSans-BoldItalic';

                    &::before {
                        content: '';
                        position: absolute;
                        width: 40px;
                        height: 30px;
                        background-color: #FFF;
                        margin-left: -21px;
                        clip-path: polygon(63% 0, 0% 100%, 100% 93%);
                        margin-top: 38px;
                        filter: url(#round);
                        transform: rotate(92deg);
                    }
                }

            }

            // .prueba {
            //     background-color: red;
            //     clip-path: polygon(0 0, 0% 100%, 100% 0);
            //     filter: url(#round);
            // }


            p {
                color: #FFF;
                font-size: 1.2rem;
            }

            img {
                max-width: 300px !important;
                height: auto !important;
            }

        }

        &.caption-2 {

            h2,
            h3 {
                display: inline-block;
                color: #FFF;
                font-family: 'IBMPlexSans-Medium';
                font-size: 1.6rem;

                span {
                    font-family: 'IBMPlexSans-BoldItalic';
                }
            }

            h3 {
                &.modalidad {
                    border-radius: 7px 7px 7px 7px;

                    &.modalidad2 {
                        border-radius: 0px 7px 7px 0px;
                    }
                }
            }

            h3 {
                &.modalidad {
                    border: 1.5px solid $COLOR_2;
                    padding: 7px 13px;
                    float: left;

                    .img {
                        float: left;
                    }

                    .txt {
                        font-size: 1.4rem;
                        font-family: 'IBMPlexSans-SemiBoldItalic';
                        float: left;
                        margin-left: 11px;
                        margin-bottom: -5px;

                        subt {
                            font-size: 1rem;
                            display: block;
                            font-family: 'IBMPlexSans-Regular';
                            margin-bottom: -15px;
                            margin-top: -7px;

                        }
                    }

                    &.modalidad2 {
                        border-left: 0px;

                        .img {
                            img {
                                width: auto !important;
                            }
                        }
                    }
                }

                &.efecto {
                    position: relative;
                    transition: 0.3s;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 5px;
                        bottom: -10px;
                        background: rgb(255, 73, 92);
                        background: linear-gradient(90deg, rgba(255, 73, 92, 1) 0%, rgba(100, 59, 163, 1) 100%);



                    }

                    // &::after {
                    //     content: '';
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 5px;
                    //     bottom: -10px;
                    //     background: rgb(100, 59, 163);
                    //     background: linear-gradient(90deg, rgba(100, 59, 163, 1) 0%, rgba(0, 231, 144, 1) 41%, rgba(255, 73, 92, 1) 65%, rgba(100, 59, 163, 1) 78%, rgba(255, 73, 92, 1) 100%);
                    //     left: 0;

                    //     animation: c_keyframe_1 1s;
                    //     -webkit-animation: c_keyframe_1 2s;
                    //     -moz-animation: c_keyframe_1 2s;
                    //     animation-iteration-count: infinite;
                    //     -webkit-animation-iteration-count: infinite;
                    //     -moz-animation-iteration-count: infinite;
                    //     transition: 0.3s;
                    // }
                }
            }

            .c-btn {
                background-color: $COLOR_3;
                color: #FFF;
                font-family: 'IBMPlexSans-Regular';
                text-transform: uppercase;
                font-size: 1rem;
                transition: 0.3s !important;
                padding: 13px 10px 13px 23px;
                -webkit-box-shadow: 2px 4px 8px -4px rgba(0, 0, 0, 0.48);
                -moz-box-shadow: 2px 4px 8px -4px rgba(0, 0, 0, 0.48);
                box-shadow: 2px 4px 8px -4px rgba(0, 0, 0, 0.48);

                span {
                    font-family: 'IBMPlexSans-Bold';


                }

                .fa-c {
                    animation: c_keyframe_2 2s;
                    -webkit-animation: c_keyframe_2 2s;
                    -moz-animation: c_keyframe_2 2s;
                    animation-iteration-count: infinite;
                    -webkit-animation-iteration-count: infinite;
                    -moz-animation-iteration-count: infinite;
                }

                &:hover {
                    background-color: $COLOR_2;
                }
            }

            p {
                color: #FFF;
            }
        }

        &.c-caption-img {
            img {
                max-width: 100% !important;
                height: auto !important;
                margin-bottom: 30px !important;
            }
        }

        &.caption-3 {
            h2 {
                color: #FFF;
                background-color: $COLOR_4;
                font-family: 'OpenSans-Bold';
                display: inline-block;
                padding: 7px 20px !important;
                margin-top: -180px !important;
                display: flow;
                position: absolute;
                border-radius: 50px;
                margin-left: 40px;
                font-size: 1.7rem !important;

                span {
                    font-family: 'IBMPlexSans-MediumItalic';
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -60px;
                    width: 48px;
                    height: 100%;
                    background-color: $COLOR_4;
                    /* Puedes cambiar el color según tus necesidades */
                    z-index: 1;
                    /* Para colocar el pseudo-elemento detrás del texto */
                    border-radius: 50%;
                    /* Ajusta según sea necesario para bordes redondeados */
                    font-size: 1.7rem !important;
                }
            }

            h3 {
                color: #FFF;
                font-family: 'IBMPlexSans-SemiBold';
                font-size: 1.1rem;
                margin-top: -110px !important;
                display: grid;
                position: absolute;
                padding-left: 40px;

                span {
                    font-family: 'IBMPlexSans-SemiBoldItalic';
                }
                img{
                    width: 30px !important;
                    height: auto !important;
                    position: absolute;
                    margin-left: 40px;
                }
                .txt{
                    margin-left: 40px !important;
                }
            }
        }
    }

    .rev_slider_wrapper {

        /*Opacidad de slider capa oscura*/
        .slotholder:after {
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            // background: rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0);
        }
    }

}

.c-slider-cta {
    position: absolute;
    color: #FFF;
    margin-top: -40px;
}



@keyframes c_keyframe_1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes c_keyframe_2 {
    0% {
        margin-left: 5px;
        margin-right: 15px;
    }

    50% {
        margin-left: 15px;
        margin-right: 5px;
    }

    100% {
        margin-left: 5px;
        margin-right: 15px;
    }
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {



    .cmln-slider {
        .tp-caption {
            p {
                font-size: 1.3rem;
            }

            &.caption-1 {
                h3 {
                    span {
                        font-size: 1.5rem !important;
                    }

                    .bono {
                        font-size: 2.1rem !important;
                    }
                }

                h1 {
                    font-size: 2.5rem !important;

                    span {
                        font-size: 2rem;

                        &::before {
                            margin-top: 19px;
                            margin-left: -20px;
                            filter: url(#round);
                            transform: rotate(92deg);
                        }
                    }
                }
            }

            &.caption-2 {
                h2 {
                    font-size: 1.5rem;

                    span {
                        font-size: 1.5rem;
                    }
                }

                h3.modalidad .txt {
                    padding-top: 4px;

                    subt {
                        margin-bottom: -5px;
                    }
                }
            }

            &.caption-3 {
                img {
                    width: 380px !important;
                    height: auto !important;
                }
            }
        }

        .legal {
            font-size: .8rem !important;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cmln-slider .tp-caption.caption-2 h3.modalidad .txt subt {
        margin-bottom: 0px !important;
    }

    .cmln-slider {

        .tp-caption {
            &.caption-1 {

                h3 {}

                h1 {
                    span {
                        &::before {
                            margin-left: -19px;
                            margin-top: 19px;
                        }
                    }
                }
            }

            &.caption-2 {

                h2,
                h3 {
                    font-size: 1.4rem;

                    span {
                        font-size: 1.4rem;
                    }
                }

                h3 {
                    &.modalidad {
                        border-radius: 7px 7px 7px 7px;

                        &.modalidad2 {
                            border-radius: 0px 7px 7px 0px;
                        }
                    }
                }
            }

            &.caption-3 {
                h3 {
                    font-size: 1.1rem;

                    span {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cmln-slider .tp-caption.caption-2 h3.modalidad .txt subt {
        margin-bottom: -15px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cmln-slider {

        .tp-caption {
            &.caption-1 {

                h3 {}

                h1 {
                    font-size: 4.2rem;

                    span {
                        &::before {
                            margin-left: -22px;
                            margin-top: 52px;
                            width: 60px;
                            height: 50px;
                            transform: rotate(93deg);
                        }
                    }
                }
            }

            &.caption-2 {

                h2,
                h3 {
                    font-size: 1.9rem;

                    span {
                        font-size: 1.9rem;
                    }
                }

            }

            &.caption-3 {
                h3 {
                    font-size: 1.1rem;

                    span {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

    .container-affter {
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-bottom: 0px;
        margin-top: -300px;

        .affter-slider {
            display: inline-block;
            width: 100%;
            color: #FFF;
            filter: url(#round);

            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 104%;
                height: 300px;
                margin-left: -2%;
                background: currentColor;
                -webkit-clip-path: polygon(83% 94%, 100% 0, 100% 100%, 0 100%, 0 49%);
                clip-path: polygon(83% 94%, 100% 0, 100% 100%, 0 100%, 0 49%);
            }
        }

    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}