.typ {
    background-image: url('../img/typ.jpg');
    background-image: -webkit-image-set(url('../img/typ.webp')1x);
    background-size: cover;
    #header_page{
        background-color:  transparent;
    }
    .back-top{
        display: none !important;
    }
    h1{
        color: #FFF;
        font-family: 'OpenSans-Light';  
        span{
            display: block;
            font-family: 'OpenSans-Light';  
        }
    }
    p{
        color: #FFF;
    }
    .btn{
        background-color: $COLOR_1;
        color: #000;
        border-radius: 3px;
        font-family: 'OpenSans-Regular';  
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 15px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .typ{
        .c-body{
            margin-top: 200px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}