.typ {
    min-height: 100vh;
    /* alto mínimo = alto de la pantalla */
    background-color: #004FEF;
    background-image: url("https://9068661.fs1.hubspotusercontent-na1.net/hubfs/9068661/assets/img/HEAD-TY.png");
    background-size: cover;
    /* llena el área */
    background-position: center;
    /* centra la imagen */
    background-repeat: no-repeat;
    /* no tile */

    .txt{
        padding-top: 150px;
    }

    /* Que el bloque ocupe el alto de la pantalla */
    .c-cont {
        min-height: 100vh;
    }

    /* Asegura que la row estire a la altura del contenedor */
    .c-cont .row {
        min-height: 100vh;
    }

    /* Columna derecha: mandar el contenido al fondo */
    .col-md-7.img {
        display: flex;
        align-items: flex-end;
        /* abajo */
        justify-content: flex-end;
        /* opcional: derecha */
    }

    /* Para que la imagen no se “pase” y mantenga responsivo */
    .col-md-7.img img {
        max-height: 100vh;
        /* opcional, por si es muy alta */
        width: auto;
    }


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .typ{
        background-image: url(https://9068661.fs1.hubspotusercontent-na1.net/hubfs/9068661/assets/img/HEAD-TY-1.png);
        min-height: 80vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .typ {
        .c-body {
            margin-top: 200px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}