.banner-cta-1 {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #00287A;
    background-image: url(https://9068661.fs1.hubspotusercontent-na1.net/hubfs/9068661/assets/img/CINTILLO-1.png);
    background-size: 100%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}