.banner-cta-1 {
    background-color: $COLOR_4;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    .img {
        padding-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            // position: absolute;
            // bottom: 0;
            max-width:70px;
        }
    }
    .txt{
        padding-top: 20px;
        // padding-left: 50px;
    }

    h2 {
        color: #FFF;
        font-family: 'IBMPlexSans-SemiBold';
        font-size: 2rem;

        .c_small {
            font-family: 'IBMPlexSans-Regular'; 
            font-size: 1rem;
            display: inline-table;
            margin-top: 10px;
            display: grid;
        }
        .efecto{
            font-size: 2rem;
            // background-color: $COLOR_3;
            border: 1px solid $COLOR_3;
            font-family: 'IBMPlexSans-SemiBoldItalic';  
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 7px;
            color: #FFF;
        }
    }
}


.banner-cta-2{
    background-color: $COLOR_1;
    padding: 35px;
    border-radius: 13px;
    margin-top: 50px;
    text-align: center;
    p{
        font-family: 'IBMPlexSans-Regular'; 
        font-size: 1.2rem;
        color: #FFF;
        &.titulo{
            font-family: 'IBMPlexSans-SemiBold';  
            color: #FFF;
            font-size: 1.7rem;
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-cta-1{
        padding-bottom: 30px;
        h2{
            text-align: center;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .banner-cta-1{
        .txt{
            h2{
                .efecto{
                    &::after{
                        content: url('../img/after-4.png');
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        margin-left: 20px;
                        transform: scale(0.85);
                    }
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}